.page-content {
    height: 100vh;
    overflow-y: auto; /* Permet au contenu de la page de scroller indépendamment */
}

@media (min-width: 769px) {
    .page-content {
        grid-column: 2 / -1; /* Commence à la 2ème ligne de la grille et va jusqu'à la fin */
    }
}
