.main-layout {
    height: 100%;
    display: flex; /* Utiliser flex pour positionner la sidebar et la carte */
}

.sidebar-container {
    width: 400px; /* Largeur fixe pour la sidebar */
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 2;
    background: white;
}

.map-container {
    flex-grow: 1; /* La carte prend le reste de la place */
    height: 100%;
}

/* --- Styles pour mobile --- */
@media (max-width: 768px) {
    .main-layout {
        display: block; /* On revient à un affichage block */
        position: relative;
    }

    .sidebar-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 75vh; /* La sidebar prend 75% de la hauteur */
        transform: translateY(100%); /* Cachée par défaut */
        transition: transform 0.3s ease-in-out;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 10px;
    }

    .sidebar-container.open {
        transform: translateY(0); /* Montrée quand elle est ouverte */
    }

    .map-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
