.search-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    z-index: 1100; /* Au-dessus de tout */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.search-overlay-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-overlay-header .medication-search-form { /* On réutilise le style du formulaire de recherche */
    flex-grow: 1;
    margin-bottom: 0;
}

.search-overlay-close-btn {
    background: none;
    border: none;
    color: #3fc17a;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
